numpy==1.26.4
pandas==2.2.2
matplotlib==3.9.2
seaborn==0.13.2
tabulate==0.10.0
tqdm==4.66.5
transformers==4.44.2
torch==2.14.0
huggingface-hub==0.24.7
datasets==2.21.0
accelerate==0.33.0
sentencepiece==0.2.0
protobuf==5.28.3
sacrebleu==2.4.3
rapidfuzz==3.9.7
ijson==3.3.0
scikit-learn==1.5.1
onnxruntime==1.30.0
ipykernel==6.29.5
ipywidgets==8.1.5
rouge-score==0.1.2
