<html>
    <head>
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
        <title>아파트 실거래 정보</title>
    </head>
    <body>
        <div class="w-full h-40 ">
            <div class=""w-5xl h-full mx-auto>
                <div class="'w=full h-60 bg-red-300">
                    
                </div>

            </div>

        </div>
        <h1 class="text-3xl text-blue-500 font-bold underline flex justify-center">
            17기 아파트 실거래 정보
        </h1>
        <div class="w-full h-60 bg-red-300">
            <input class="w-40 h-20 border border-red-500" 
            type="text" 
            placeholder="검색어를 입력하세요" />
            <button class="bg-[#95CCDD] text-white">조회하기</button>
        </div>
    </body>
</html>